* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border: none;
  outline: 0;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
}
ol,
ul {
  list-style: none;
}
