@import "param";
@import "variable";
body{
  background: #f7f3f0 url(../img/background.png) no-repeat;
  height: 100vh;
}
.glass{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.8px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 2.5rem;
}
svg {
  width: 25rem;
}

svg path {
  stroke: #fff;
  fill: #fff;
  stroke-dasharray: 300;
  opacity: 1;
  animation: stroke-svg 5s cubic-bezier(0, 0.5, 1, 0.1) infinite;
}

@keyframes stroke-svg {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 300;
  }

  30% {
    opacity: 1;
    fill: none;
    stroke-dashoffset: 300;
  }

  70% {
    fill: rgba(0, 0, 0, 0);
  }

  75% {
    opacity: 1;
    fill: #000;
    stroke-dashoffset: 0;
  }
}
button, input[type="range"]{
  cursor: pointer;
}
.container{
  @include flex(space-around, center);
  height: 100%;
}
.title {
  text-align: center;
}
.player{
  flex-basis: 40%;
  height: 100%;
  @extend %center;
  flex-direction: column;
  margin-top: 5rem;
  input{
    width: 40rem;
    margin-top: .5rem;
  }
  #cdThumb{
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    background: radial-gradient(transparent 0 5%, #8e44ad 5% 20%, #000 20%) no-repeat center/cover;
    animation: rotateImgSong 10s linear infinite;
    animation-play-state: paused;
  }
  @keyframes rotateImgSong {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
  }
  #titleSong{
    font-size: 2.4rem;
    text-transform: capitalize;
    margin-top: 1rem;
  }
  margin-top: 5rem;
  #timeRange{
    @extend %d-flex;
    flex-direction: column;
    #timeContent{
        @extend %pos-rel;
        top: 0;
        left: -1.6rem;
        transform: translateX(var(--timeContent-left));
        width: 5rem;
        text-align: center;
        background-color: rgba($color: rgb(0, 255, 255), $alpha: .8);
        font-size: 1.6rem;
        border: 2px solid #07d4a1;
        border-radius: .5rem;
      &::after{
        content: " ";
        @extend %pos-abs;
        height: 1rem;
        width: 1rem;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-image: linear-gradient(135deg, transparent 0 50%, #07d4a1 50%);
      }
    }
  }
  .control{
    margin-top: 1rem;
    @extend %d-flex;
    >button{
      font-size: 2rem;
      border-radius: 50%;
      margin: 0 1rem;
      width: 5rem;
      height: 5rem;
      background-color: transparent;
      &:hover{
        background-color: rgba($color: #ffffff, $alpha: .5);
      }
    }
    .volume{
      @extend %pos-rel;
      width: 5rem;
      height: 5rem;
      font-size: 2rem;
      margin: 0 1rem;
      cursor: pointer;
      input{
        @extend %pos-abs;
        top: 22%;
        left: 80%;
        width: 10rem;
      }
      >button{
        @extend %pos-abs;
        margin: 0;
        background-color: transparent;
        font-size: 1.6rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .mute{
        display: none;
      }
      &.muted{
        .volumeup{
          display: none;
        }
        .mute{
          display: inline;
        }
      }
    }
    .playControl{
      @extend %d-inline;
      @extend %pos-rel;
      margin: 0 1rem;
      width: 5rem;
      height: 5rem;
      font-size: 2rem;
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        background-color: rgba($color: #ffffff, $alpha: .5);
      }
      i{
        @extend %pos-abs;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .icon-pause{
        visibility: hidden;
      }
      &.playing {
        .icon-pause{
          visibility: visible;
        }
        .icon-play{
          visibility: hidden;
        }
      }
    }
  }
}
.playlist{
  flex-basis: 50%;
  // overflow-y: scroll;
  li{
    transition: transform .2s linear;
    cursor: pointer;
    img{
      width: 5rem;
      height: 5rem;
    }
    span{
      @extend %d-inline;
      margin-left: 1rem;
      font-size: 1.6rem;
      &::first-letter{
        text-transform: uppercase;
      }
    }
    &:hover{
      transform: translate(1%, -20%);
      background-color: rgba(226, 191, 151, 0.2);
    }
  }
}